[color]
ui = auto

[init]
defaultBranch = main

[core]
excludesfile = ~/.gitignore_global
editor = nvim
pager = diff-so-fancy | less --tabs=4 -RF

[alias]
con = checkout -b
co = checkout

fo = fetch origin
po = pull origin

# Serve repo with read access
serve = !git daemon --base-path=. --export-all --reuseaddr --informative-errors --verbose
# Serve repo with read/write access
hub = !git daemon --base-path=. --export-all --reuseaddr --informative-errors --verbose --enable=receive-pack

# Custom loggin formats
l = log --graph --pretty=format:'%Cgreen(%cr) %Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit
lg = log --oneline --graph --decorate

lm = log --author='(lppl|lukasz.pietrek|lpietrek)' --perl-regexp --pretty=format:'%C(bold blue)<%an> %Cgreen(%cr) %Creset %Cred%h %Creset %s %Creset' --abbrev-commit

# Convinient shortcuts
ls = ls-files
po = pull origin
pom = pull origin master

# Remove all merged branches
cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"

# Ignore files
ignored = !git ls-files -v | grep "^[[:lower:]]"
ignored-add = "update-index --no-assume-unchanged"
ignored-rem = "update-index --assume-unchanged"

nfm = "merge --no-ff"

[filter "lfs"]
clean = git-lfs clean %f
smudge = git-lfs smudge %f
required = true

[interactive]
diffFilter = diff-so-fancy --patch

